@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");
.body {
  font-family: "Archivo", sans-serif;
  font-weight: 500;
}

/* ========= Dashboard Layout=============== */
.layout-container {
  min-height: 100vh;
}
.sidenav-menu {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.footer-nav {
  text-align: center;
  background: #fff;
  font-family: "Poppins", sans-serif;
}
.navbar-settings {
  font-family: "Poppins", sans-serif;
}

.main-component-container {
  padding: 24px;
  background: #fff;
}

/* =================== DASHBOARD CSS ===================== */

.line-graph-container {
  max-width: 50%;
}

.bar-graph-container {
  margin-top: 10px;
  max-width: 80%;
}
